<section class="col-md-6">
  <section class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <section class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
      <h3 class="mb-0">Post title</h3>
      <section class="mb-1 text-body-secondary">Nov 11</section>
      <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
        Continue reading
        <i class="bi"><use xlink:href="#chevron-right"></use></i>
      </a>
    </section>
    <section class="col-auto d-none d-lg-block">
      <img src="path/to/your/image.jpg" alt="Thumbnail" class="img-fluid" style="width: 200px; height: 250px; object-fit: cover;">
    </section>
  </section>
</section>
